body {
	background-color: #f8d4e4;
	background-repeat: no-repeat;
	background-size: 100% 80%;
	height: 900px;
}

#buttonPurple{
	background-color: #3e214f;
	color: white;

 }
#buttonPurple:hover{
	  background-color: #3e214f;
	color: white;
	font-weight: bold;
	
 }